*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0px;
    background-color: rgb(34, 34, 34);
    color: rgb(0, 0, 0);
}
main{
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 10rem;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border-radius: 2rem;
    box-shadow: 20px 20px 15px #000000;
}
